{% extends 'stock/base.html' %}

{% block title %} 欢迎来到六横热工备件查询系统！ {% endblock %}


{% block content %}

    <div class="container myContainer">
        <form action="/search" method="GET">
            <div class="row col-lg-8 col-lg-offset-2">

                {% for radio in searchForm.search_by %}
                    <div class="radio-inline">
                        {{ radio }}
                    </div>
                {% endfor %}

                <div class="input-group">
                    {{ searchForm.keyword }}
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg btn-info" type="submit">备件检索</button>
                    </span>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
